---
import BaseLayout from '../layouts/BaseLayout.astro'
import ContentLayout from '../layouts/ContentLayout.astro'
---

<BaseLayout title="404 Page not Found - Addin Munawwar Portfolio | ">
    <main class="flex-1 flex items-center">
        <ContentLayout>
            <div class="text-main-light flex flex-col gap-2 justify-center items-center">
                <h1 class="text-main-red text-4xl sm:text-6xl">404</h1>
                <p>Page not found!</p>
                <a href="/" class="text-main-light hover:text-main-red underline mt-5">Go back to home</a>
            </div>
        </ContentLayout>
    </main>
</BaseLayout>