---
import Button from '../components/Button.astro';
import TextField from '../components/TextField.astro';
import TextAreaField from '../components/TextAreaField.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import BackButton from '../components/BackButton.astro';
---
<BaseLayout title="Contact - Contact Addin Munawwar | Cadevue" description="Contact Addin Munawwar (Cadevue) for collaboration, project inquiries, or just to say hi!">
    <main class="flex-1 bg-main-black text-main-light py-16 relative">
        <svg width="209" height="392" viewBox="0 0 209 392" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute right-0 top-0 contain z-0 h-full w-fit">
            <path d="M170.909 133.885L128.135 59.7996C121.421 48.3892 110.47 40.094 97.668 36.721C84.8656 33.348 71.2489 35.1705 59.7842 41.7915C48.3194 48.4125 39.9353 59.2955 36.4582 72.07C32.9811 84.8446 34.6927 98.4756 41.2201 109.994L58.8968 140.587L97.5195 140.579L86.9208 122.222C84.7007 118.38 84.0978 113.813 85.2448 109.526C86.3918 105.239 89.1948 101.584 93.0371 99.3636C96.8793 97.1434 101.446 96.5406 105.733 97.6876C110.02 98.8346 113.675 101.638 115.895 105.48L151.591 167.329L170.909 133.885ZM190.225 167.342L170.907 200.787L203.318 256.924L217.566 214.674L190.225 167.342ZM78.2134 174.044L130.547 264.737L174.316 273.642L116.827 174.069L78.2047 174.077L78.2134 174.044ZM225.588 295.52L266.449 366.27C268.576 370.106 269.111 374.624 267.939 378.851C266.767 383.078 263.982 386.675 260.183 388.869C256.384 391.062 251.876 391.675 247.63 390.577C243.383 389.478 239.738 386.756 237.479 382.996L196.669 312.312L109.116 294.498L12.2379 126.699C6.6901 117.184 3.07644 106.666 1.6044 95.7496C0.132356 84.8335 0.830939 73.7341 3.66003 63.0887C6.48911 52.4432 11.393 42.4614 18.0901 33.7163C24.7873 24.9712 33.1458 17.635 42.6858 12.1289C52.2258 6.62275 62.7594 3.05518 73.6818 1.63095C84.6043 0.206701 95.7005 0.953838 106.333 3.8295C116.966 6.70516 126.927 11.6527 135.642 18.388C144.358 25.1234 151.658 33.5139 157.122 43.0779L254.095 211.04L225.576 295.499L225.588 295.52Z" fill="#1D1D1D"/>
        </svg>
        <ContentLayout>
            <main class="flex flex-col gap-2 max-w-3xl z-10">
                <h1 data-aos="fade-up" id="contact-start">Let's Get in Touch!</h1>
                <p data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#contact-start">
                    You could write me a message from the form below.
                </p>
                <form class="flex flex-col gap-3 z-10" 
                    action="https://formspree.io/f/mqaekrby" method="post" 
                >
                    <TextField label="Name" id="name" type="text" placeholder="John Doe" required
                        aos={{ type: "fade-up", delay: "500", anchor: "#contact-start" }}
                    />
                    <TextField label="Email" id="email" type="email" placeholder="johndoe@company.org" required
                        aos={{ type: "fade-up", delay: "600", anchor: "#contact-start" }}
                    />
                    <TextAreaField label="Message" id="message" rows="5" placeholder="Hi, Addin! Let's cook something together." required
                        aos={{ type: "fade-up", delay: "700", anchor: "#contact-start" }}
                    />
                    <div class="mt-4" data-aos="fade-up" data-aos-delay="1000" data-aos-anchor="#contact-start">
                        <Button label="send email" type="submit"/>
                    </div>
                </form>
            </div>
            <div class="mt-8 flex gap-4 items-center" data-aos="fade-up" data-aos-delay="1100" data-aos-anchor="#contact-start">
                <BackButton text="Back" />
            </div>
        </ContentLayout>
    </main>
</BaseLayout>

<script>
    // const form = document.querySelector('form') as HTMLFormElement;
    // form.addEventListener('submit', (event) => {
    //     event.preventDefault();
    // });
</script>
