---
import Button from '../components/Button.astro';
import TextField from '../components/TextField.astro';
import TextAreaField from '../components/TextAreaField.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
---
<BaseLayout>
    <section class="flex-1 bg-main-black text-main-light py-16">
        <ContentLayout>
            <div class="flex flex-col gap-2 max-w-2xl">
                <h1>Let's Get in Touch!</h1>
                <p>You could write me a message from the form below.</p>
                <form class="flex flex-col gap-3">
                    <TextField label="Name" id="name" type="text" placeholder="Walter White" required/>
                    <TextField label="Email" id="email" type="email" placeholder="walter@lospollos.org" required/>
                    <TextAreaField label="Message" id="message" rows="5" placeholder="Hi, Addin! Let's cook something together." required/>
                    <div class="mt-4">
                        <Button title="send email" type="submit"/>
                    </div>
                </form>
            </div>
        </ContentLayout>
    </section>
</BaseLayout>

<script>
    const form = document.querySelector('form') as HTMLFormElement;
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const name = formData.get('name');
        const email = formData.get('email');
        const message = formData.get('message');
        console.log({name, email, message});
    });
</script>
