---
import Button from '../components/Button.astro';
import TextField from '../components/TextField.astro';
import TextAreaField from '../components/TextAreaField.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import { Image } from 'astro:assets';

import featherImage from '../assets/feather.png';
import BackButton from '../components/BackButton.astro';
---
<BaseLayout title="Contact - Addin Munawwar Portfolio | moonwr.dev">
    <main class="flex-1 bg-main-black text-main-light py-16 relative">
        <Image src={featherImage} alt="Feather" class="absolute right-0 top-0 contain z-0 h-full w-fit"/>
        <ContentLayout>
            <main class="flex flex-col gap-2 max-w-2xl z-10">
                <h1 data-aos="fade-up" id="contact-start">Let's Get in Touch!</h1>
                <p data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#contact-start">
                    You could write me a message from the form below.
                </p>
                <form class="flex flex-col gap-3 z-10" 
                    action="https://formspree.io/f/mqaekrby" method="post" 
                >
                    <TextField label="Name" id="name" type="text" placeholder="John Doe" required
                        aos={{ type: "fade-up", delay: "500", anchor: "#contact-start" }}
                    />
                    <TextField label="Email" id="email" type="email" placeholder="johndoe@company.org" required
                        aos={{ type: "fade-up", delay: "600", anchor: "#contact-start" }}
                    />
                    <TextAreaField label="Message" id="message" rows="5" placeholder="Hi, Addin! Let's cook something together." required
                        aos={{ type: "fade-up", delay: "700", anchor: "#contact-start" }}
                    />
                    <div class="mt-4" data-aos="fade-up" data-aos-delay="1000" data-aos-anchor="#contact-start">
                        <Button label="send email" type="submit"/>
                    </div>
                </form>
            </div>
            <div class="mt-8 flex gap-4 items-center" data-aos="fade-up" data-aos-delay="1100" data-aos-anchor="#contact-start">
                <BackButton text="Back" />
            </div>
        </ContentLayout>
    </main>
</BaseLayout>

<script>
    // const form = document.querySelector('form') as HTMLFormElement;
    // form.addEventListener('submit', (event) => {
    //     event.preventDefault();
    // });
</script>
