---
import Button from '../components/Button.astro';
import TextField from '../components/TextField.astro';
import TextAreaField from '../components/TextAreaField.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import BackButton from '../components/BackButton.astro';
---
<BaseLayout title="Contact - Contact Addin Munawwar" description="Contact Addin Munawwar (Cadevue) for collaboration, project inquiries, or just to say hi!">
    <main class="flex-1 bg-main-black text-main-light py-16 relative">
        <ContentLayout>
            <main class="flex flex-col gap-2 max-w-3xl">
                <h1 class="text-3xl sm:text-4xl">Let's Get in Touch!</h1>
                <p>
                    You could write me a message from the form below.
                </p>
                <form class="flex flex-col gap-3 z-10" 
                    action="https://formspree.io/f/mqaekrby" method="post" 
                >
                    <TextField label="Name" id="name" type="text" placeholder="John Doe" required />
                    <TextField label="Email" id="email" type="email" placeholder="johndoe@company.org" required />
                    <TextAreaField label="Message" id="message" rows="5" placeholder="Hi, Addin! Let's cook something together." required />
                    <div class="mt-4">
                        <Button label="send email" type="submit"/>
                    </div>
                </form>
            </main>
            <div class="mt-8 flex gap-4 items-center">
                <BackButton text="Back" />
            </div>
        </ContentLayout>
    </main>
</BaseLayout>
