---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
---

<BaseLayout>
    <ContentLayout>
        <div class="flex-1 text-main-light flex flex-col gap-2 mt-16 w-full">
            <h1>Sorry..</h1>
            <p>This page is still under construction. Please check back later.</p>
            <a href="/" class="text-main-light hover:text-main-red underline mt-5">Go back to home</a>
        </div>
    </ContentLayout>
</BaseLayout>