---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import BackButton from "../components/BackButton.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import FilteredPortfolioGrid from "../components/FilteredPortfolioGrid.svelte";

const allProjects = await getCollection("projects");
const sortedProjects = allProjects.sort((a, b) => {
    return b.data.priority - a.data.priority;
});

const allTags = [...new Set(allProjects.flatMap((project) => project.data.tags))];
---

<BaseLayout title="All Projects - See Addin Munawwar Portfolio | Cadevue" description="All projects that Addin Munawwar has worked on.">
    <main class="flex-1 bg-main-light py-16">
        <ContentLayout>
            <div class="mb-4" data-aos="fade-up" data-aos-delay="100">
                <BackButton light={false} />
            </div>
            <div class="flex items-center gap-2" data-aos="fade-up" data-aos-delay="200" id='portfolio-start'>
                <h1 class="mt-1">All Projects</h1>
                <span class="rotate-45">
                    <ArrowIcon color="#ba3a2c" size="40px"/>
                </span>
            </div>
            <p class="text-main-black mb-4" data-aos="fade-up" data-aos-delay="400">
                I'm still compiling all the projects I've worked on, but these are some!
            </p>
            <FilteredPortfolioGrid projects={sortedProjects} tags={allTags} appearDelay={800} anchorElmt="#portfolio-start" client:visible />
            </div>
        </ContentLayout>
    </main>
</BaseLayout>