---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import BackButton from "../components/BackButton.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import PortfolioGrid from "../components/PortfolioGrid.astro";
import Chip from "../components/Chip.astro";

const allProjects = await getCollection("projects");
const sortedProjects = allProjects.sort((a, b) => {
    return a.data.priority - b.data.priority;
});

const allTags = [...new Set(allProjects.flatMap((project) => project.data.tags))];
---

<BaseLayout title="All Projects - Moonwr Portfolio">
    <main class="flex-1 bg-main-light py-16">
        <ContentLayout>
            <div class="mb-4" data-aos="fade-up" data-aos-delay="100">
                <BackButton light={false} />
            </div>
            <div class="flex items-center gap-2" data-aos="fade-up" data-aos-delay="200" id='portfolio-start'>
                <h1 class="mt-1">All Projects</h1>
                <span class="rotate-45">
                    <ArrowIcon color="#ba3a2c" size="40px"/>
                </span>
            </div>
            <p class="text-main-black mb-4" data-aos="fade-up" data-aos-delay="400">
                I'm still compiling all the projects I've worked on, but these are some!
            </p>
            <div class="w-full flex flex-col justify-between gap-2 lg:flex-row lg:gap-10">
                <div class="mt-6 h-fit w-full lg:w-52">
                    <p data-aos="fade-up" data-aos-delay="600">Filter by Tags</p>
                    <div class="flex flex-wrap gap-2 mt-2 lg:mt-4 lg:w-52">
                        <Chip label="All" value="all" aos={{ type: "fade-up", delay: "700" }}/>
                        {
                            allTags.map((tag : string, idx : number) => {
                                const delay = 700 + idx * 75;
                                return <Chip 
                                    label={tag} value={tag.toLocaleLowerCase().replace(/\s/g, '-')}
                                    aos={{ type: "fade-up", delay: delay.toString() }}
                                />
                            })
                        }
                    </div>
                </div>
                <div class="flex-1">
                    <PortfolioGrid projects={sortedProjects} initialDelay={750} anchorElmt="#portfolio-start"/>
                </div>
            </div>
            <!-- <p class="text-main-black mb-8" data-aos="fade-up" data-aos-delay="400">
                Currently still compiling all the projects I've worked on. Please check back later. If you want more details, feel free to contact me!
            </p> -->
            <!-- <div class="flex-1 text-main-light flex flex-col gap-2 mt-12 w-full">
                <span class="mb-12">
                    <BackButton />
                </span>
                <h1>Under Construction</h1>
                <p class="text-main-gray">I'm currently still compiling all the projects I've worked on. Please check back later. If you want more details, please contact me!</p>
                <a href="/" class="text-main-light hover:text-main-red underline mt-5 w-fit">Go back to home</a>
            </div> -->
        </ContentLayout>
    </main>
</BaseLayout>