---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import BackButton from "../components/BackButton.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import PortfolioGrid from "../components/PortfolioGrid.astro";

const allProjects = await getCollection("projects");
const projects = allProjects.sort((a, b) => {
    return b.data.priority - a.data.priority;
}).filter((project) => project.data.is_shown);

const allTags = [...new Set(allProjects.flatMap((project) => project.data.tags))];
---

<BaseLayout title="All Projects - See Addin Munawwar Portfolio" description="All projects that Addin Munawwar has worked on.">
    <main class="flex-1 bg-main-light py-8 sm:py-16">
        <ContentLayout>
            <div class="mb-4">
                <BackButton light={false} />
            </div>
            <div class="flex items-center gap-2">
                <h1 class="mt-1 text-3xl sm:text-4xl">All Projects</h1>
                <span class="rotate-45">
                    <ArrowIcon color="#ba3a2c" size="40px"/>
                </span>
            </div>
            <p class="text-main-black mb-4">
                I'm still compiling all the projects I've worked on, but these are some!
            </p>

            <PortfolioGrid projects={projects} tags={allTags} appearDelay={600} anchorElmt="#portfolio-start" />
            </div>
        </ContentLayout>
    </main>
</BaseLayout>
