---
import ArrowIcon from "./ArrowIcon.astro"

const {title, href='/'} = Astro.props
---

<a class="bg-main-red px-6 py-1 rounded-full flex gap-3 items-center w-fit" href={href}>
    <p class="text-lg text-main-light font-bold lg:text-xl xl:text-2xl">{title}</p>
    <span class="-rotate-45">
        <ArrowIcon color="#f4f6f1" size="24px"/>
    </span>
</a>