---
import ArrowIcon from "./ArrowIcon.astro"

const { label, type, callback } = Astro.props
---

<button class="bg-main-red px-6 py-0.5 rounded-full flex gap-3 items-center w-fit" type={type} onclick={callback}>
    <p class="text-lg text-main-light font-bold sm:text-2xl 2xl:text-3xl">{label}</p>
    <span class="-rotate-45">
        <ArrowIcon color="#f4f6f1" size="24px"/>
    </span>
</button>