<a href="/" class="no-underline w-fit" data-astro-prefetch>
    <p class="text-main-light text-lg font-bold w-fit sm:text-3xl 3xl:text-3xl">cadevue</p>
    <p class="text-light-red text-lg font-bold w-fit sm:text-3xl 3xl:text-3xl">カデュエ</p>
</a>