---
const { label, value, aos } = Astro.props;
---

<div class="px-3 py-1 border border-main-gray rounded-md text-main-black"
    data-aos={aos?.type} data-aos-anchor={aos?.anchor} data-aos-delay={aos?.delay}
>
    {label}
</div>
