---
import { Image } from "astro:assets";
import ArrowIcon from "./ArrowIcon.astro";

import itbLogoImage from "../assets/itb.png";
---

<section class="w-full flex flex-col items-end bg-main-black px-8 py-6 relative">
    <div class="absolute w-20 h-1 bg-main-red top-8 left-0"/>
    <div class="flex items-center gap-2">
        <ArrowIcon color="#ba3a2c" classOverride="w-9 h-9 rotate-135"/>
        <h1 class="text-2xl text-main-light font-bold mt-1">Education</h1>
    </div>
    <div class="flex justify-between my-6 w-full">
        <div class="flex flex-col gap-5">
            <div>
                <h2 class="text-sm text-main-light font-bold">Bandung Institute of Technology</h2>
                <p class="text-sm text-main-light">Computer Science Major</p>
            </div>
            <div class="flex flex-col gap-3">
                <p class="text-xs text-main-light">
                    <strong>Excellent Grade</strong><br>
                    Contact for details!
                </p>
                <div class="bg-main-light text-main-black text-xs font-bold px-4 py-0.5 rounded-full flex w-fit">
                    Bachelor's Degree
                </div>
            </div>
        </div>
        <Image src={itbLogoImage} alt="ITB Logo" class="w-36 object-contain"/>
    </div>
</section>