---
import ContentLayout from "../layouts/ContentLayout.astro";
import Cadevue from "./Cadevue.astro";
import Socials from "./Socials.astro";
---

<footer class="bg-main-black w-full pt-12 pb-20 text-main-light">
    <ContentLayout>
        <div class="flex flex-col gap-4">
            <div class="w-full h-0.5 bg-main-light"/>
            <div class="flex justify-between">
                <div class="flex flex-col justify-between">
                    <Cadevue />
                    <a class="text-sm text-main-light sm:text-lg hover:text-main-red" href="mailto:moonawardev@gmail.com">moonawardev@gmail.com</a>
                </div>
                <Socials />
            </div>
            <p class="text-sm sm:text-lg">
                Built with Astro and Svelte &lt;3<br>
                Copyright © 2025 Addin Munawwar. All rights reserved.
            </p>
        </div>
    </ContentLayout>
</footer>
