---
import Cadevue from "./Cadevue.astro";
import NavBar from "./NavBar.astro";
---
<header class="w-full bg-main-black py-6 sm:py-8 px-7 sm:px-16">
    <div class="w-full flex justify-between items-center">
        <Cadevue />
        <NavBar client:load/>
    </div>
</header>
