<a href="/" class="no-underline" data-astro-prefetch>
    <p class="text-main-light text-lg font-bold sm:text-2xl">moonwr.dev</p>
    <p class="text-light-red text-lg font-bold sm:text-2xl">ムーンワー</p>
</a>