---
import ContentLayout from "../layouts/ContentLayout.astro";
import ArrowIcon from "./ArrowIcon.astro";
import PortfolioGrid from "./PortfolioGrid.astro";
---

<section class="w-full bg-main-light py-16 relative text-main-black">
    <ContentLayout>
        <div class="absolute w-1/5 h-1 bg-main-red top-10 right-0"/>
        <div class="absolute w-1/5 h-1 bg-main-red bottom-10 left-0"/>
        <div class="flex items-center gap-2">
            <h1 class="mt-1">Portfolio</h1>
            <span class="rotate-45">
                <ArrowIcon color="#ba3a2c" size="40px"/>
            </span>
        </div>
        <p class="text-main-black">These are some of my proudest project!</p>
        <PortfolioGrid />
    </ContentLayout>
</section>