---
import ProjectCard from "./ProjectCard.astro";

const { projects, initialDelay, anchorElmt } = Astro.props;

const imageGetters = import.meta.glob<{ default: ImageMetadata }>('/src/assets/posters/**/*.{png,jpg,jpeg}');
---

<div class="grid grid-cols-1 gap-6 my-6 sm:grid-cols-2">
    { projects.map((project : any, idx : number) => {
        const delay = parseInt(initialDelay) + idx * 200;
        return <ProjectCard  
            title={project.data.title} 
            img={imageGetters[project.data.poster.src]()}
            alt={project.data.poster.alt} 
            slug={project.slug} 
            aos={{ type: "fade-up",  delay: delay.toString(), anchor: anchorElmt }}
        />
    }
    ) }
</div>