<ul class="flex flex-col gap-3">
    <li class="group"> <a href="https://www.instagram.com/cadevue/" target="_blank" class="flex gap-2.5 items-center text-sm no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" xmlns="https://vecta.io/nano" class="fill-main-light group-hover:fill-main-red">
            <path d="M5.951 0h8.4c3.2 0 5.8 2.6 5.8 5.8v8.4a5.8 5.8 0 0 1-5.8 5.8h-8.4c-3.2 0-5.8-2.6-5.8-5.8V5.8a5.8 
            5.8 0 0 1 5.8-5.8zm-.2 2a3.6 3.6 0 0 0-3.6 3.6v8.8a3.6 3.6 0 0 0 3.6 3.6h8.8a3.6 3.6 0 0 0 3.6-3.6V5.6a3.6 
            3.6 0 0 0-3.6-3.6h-8.8zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 15.401 6a1.25 1.25 0 0 1-1.25-1.25 
            1.25 1.25 0 0 1 1.25-1.25zM10.151 5a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5zm0 2a3 3 0 0 
            0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"/>
        </svg>
        <p class="text-sm sm:text-lg group-hover:text-main-red">Instagram</p>
    </a> </li>
    <li class="group"> <a href="https://www.linkedin.com/in/addinmnwr/" target="_blank" class="flex gap-2.5 items-center no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns="https://vecta.io/nano" class="fill-main-light group-hover:fill-main-red">
            <path 
                d="M0 1.433C0 .641.658 0 1.469 0h17.062C19.343 0 20 .641 20 1.433v17.135c0 .791-.657 1.433-1.469 1.433H1.469C.658 
                20 0 19.359 0 18.568V1.433zm6.179 15.31V7.711H3.178v9.031h3.001zm-1.5-10.265c1.046 0 1.697-.692 1.697-1.56-.019-.886-.65-1.56-1.677-1.56S3 
                4.032 3 4.918c0 .867.651 1.56 1.659 1.56h.02zm6.135 10.265v-5.044c0-.27.02-.54.1-.733.216-.539.71-1.097 1.54-1.097 1.086 0 1.52.827 1.52 
                2.043v4.831h3.001v-5.18c0-2.775-1.48-4.065-3.455-4.065-1.592 0-2.306.875-2.706 1.491v.031h-.02l.02-.031V7.711h-3v9.031h3z" 
            />
        </svg>
        <p class="text-sm sm:text-lg group-hover:text-main-red">LinkedIn</p>
    </a> </li>
    <li class="group"> <a href="https://x.com/cadevuee" target="_blank" class="flex gap-2.5 items-center no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" xmlns="https://vecta.io/nano" class="fill-main-light group-hover:fill-main-red">
            <path d="M9.612 7.727L15.624.688h-1.425L8.98 6.8 4.809.688H0l6.306 9.244L0 17.313h1.425l5.512-6.455 4.404 6.455h4.809l-6.54-9.585zm-1.951 
            2.285l-.639-.92-5.084-7.323h2.189l4.102 5.91.639.92 5.333 7.683h-2.189l-4.351-6.27z"/>
        </svg>
        <p class="text-sm sm:text-lg group-hover:text-main-red">X / Twitter</p>
    </a> </li>
</ul>
