---
interface Props {
    label: string
}

const { label } = Astro.props;
---

<a href=`/projects` class="text-main-light bg-main-red px-4 py-0.5 text-sm
    sm:text-base no-underline hover:text-main-light" data-astro-prefetch="hover">
    { label }
</a>
