---
interface Props {
    name: string
}

const { name } = Astro.props;

const query = name.toLowerCase().replace(/\s/g, '-');
---

<a href=`/projects?tag=${query}` class="text-main-light font-bold bg-main-red rounded-full px-4 py-0.5 text-sm 
    sm:text-base no-underline hover:text-main-light">
    { name }
</a>