---
import { labelToTagValue } from '../utils'

interface Props {
    label: string
}

const { label } = Astro.props;

const query = labelToTagValue(label);
---

<a href=`/projects?tag=${query}` class="text-main-light font-bold bg-main-red rounded-full px-4 py-0.5 text-sm 
    sm:text-base 2xl:text-lg no-underline hover:text-main-light" data-astro-prefetch="hover">
    { label }
</a>