---
import ContentLayout from "../layouts/ContentLayout.astro";
import AnchorButton from "../components/AnchorButton.astro";
---

<section class="w-full bg-main-black pt-48 pb-36 relative">
    <ContentLayout>
        <div class="flex flex-col items-center">
            <div class="flex flex-col gap-12 w-full">
                <div class="flex flex-col gap-3">
                    <h1 class="text-main-light mt-1 text-3xl sm:text-4xl">Reach me Out!</h1>
                    <p class="text-main-light text-base sm:text-xl/8">
                        I'm open for any collaboration, project, or just a friendly chat!
                        Feel free to reach me out through the contact form below, or my social media.
                    </p>
                </div>
                <AnchorButton label="contact me" href="/contact"/>
            </div>
        </div>
    </ContentLayout>
</section>
