---
import { Image } from "astro:assets";
import ContentLayout from "../layouts/ContentLayout.astro";

import CS202Banner from "../assets/cs202.png";
---

<section class="w-full bg-main-light py-20 sm:py-32 relative text-main-black">
    <ContentLayout>
        <div class="flex flex-col items-center">
            <div class="flex flex-col gap-8 items-center w-full max-w-4xl">
                <div class="absolute w-1/5 h-1 bg-main-red top-10 left-0" id="cs202-start"/>
                <Image src={CS202Banner} alt="CS-202 Banner" class="w-full rounded-lg"/>
                <p>
                    You might have seen my portfolio. Some of them are tagged with
                    CS-202. But what is CS-202? <br><br>

                    <b>CS-202</b> is a challenge made for myself. The CS-202 challenge is to 
                    revisit all the subjects in the computer science major. This mainly includes an effort to compile, 
                    curate, refine, even redone some of the projects I've worked on during my education (thus, polishing the portfolio) 
                    and understand the CS fundamentals at the deeper level.
                </p>
            </div>
        </div>
    </ContentLayout>
</section>
