---
import { getCollection } from "astro:content";
import ContentLayout from "../layouts/ContentLayout.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import PortfolioGrid from "../components/PortfolioGrid.svelte";

const allProjects = await getCollection("projects");
const projects = allProjects.sort((a, b) => {
    return b.data.priority - a.data.priority;
}).filter((project) => project.data.is_shown).slice(0, 10);
---

<section class="w-full bg-main-light py-20 sm:py-32 relative text-main-black">
    <ContentLayout>
        <div class="absolute w-1/5 h-1 bg-main-red top-10 right-0"/>
        <div class="absolute w-1/5 h-1 bg-main-red bottom-10 left-0"/>
        <div class="flex items-center gap-2">
            <h1 class="mt-1 text-3xl sm:text-4xl">Portfolio</h1>
            <span class="rotate-45">
                <ArrowIcon color="#ba3a2c" size="40px"/>
            </span>
        </div>
        <p class="text-main-black mb-8 text-base sm:text-xl/8">
            These are some of my proudest, curated projects!
        </p>
        <PortfolioGrid projects={projects}/>
        <p class="mt-16 text-base sm:text-xl/8">
            <a href="/projects" class="text-main-black" data-astro-prefetch>View all projects</a>
        </p>
    </ContentLayout>
</section>
