---
import { Image } from 'astro:assets'

import AnchorButton from '../components/AnchorButton.astro'
import personaImage from '../assets/persona.jpg'
import ContentLayout from '../layouts/ContentLayout.astro'
---

<section class="w-full bg-main-black pt-4 pb-28 text-main-light">
    <ContentLayout>
        <div class="flex flex-col items-center gap-6 sm:gap-8 pt-8">
            <Image src={personaImage} alt="Addin Munawwar" class="w-48 aspect-square rounded-full sm:w-64" loading="eager" fetchpriority="high"/>
            <div class="flex flex-col items-center gap-3 text-center max-w-xs sm:max-w-lg">
                <div class="flex flex-col items-center">
                    <h1 class="font-[Monocraft]">
                        Addin Munawwar
                    </h1>
                    <div class="text-gray-300 text-center px-4 py-1 items-center w-fit font-[Monocraft]">
                        <span class="font-bold text-white">Cadevue 👾</span>
                    </div>
                </div>
                <p class="text-base sm:text-xl">
                    A creative, passionate learner and software engineer specialized in video game and web development.
                </p>
            </div>
            <AnchorButton label="contact me" href="/contact"/>
        </div>
    </ContentLayout>
</section>
