---
import { getCollection } from "astro:content";
import ContentLayout from "../layouts/ContentLayout.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import ArticlePreview from "../components/ArticlePreview.astro";

const allArticles = await getCollection("articles");
const recentArticles = allArticles.sort((a, b) => 
    a.data.date_last_updated < b.data.date_last_updated ? 1 : -1)
    .filter((article) => article.data.is_published)
    .slice(0, 3);
---

<section class="w-full bg-main-black py-20 sm:py-32 relative text-main-light">
    <ContentLayout>
        <div class="flex items-center gap-2">
            <h1 class="mt-1">Recent Articles</h1>
            <span class="rotate-45">
                <ArrowIcon color="#ba3a2c" size="40px"/>
            </span>
        </div>
        <div class="mt-8">
            <div class="grid grid-cols-1 gap-10 mt-10">
                {
                    recentArticles.length === 0 && (
                        <p>
                            No articles yet. Check back soon!
                        </p>
                    )
                }

                {recentArticles.map((article, idx) => (
                    <ArticlePreview 
                        slug={article.slug} title={article.data.title} 
                        last_updated={article.data.date_last_updated} description={article.data.meta_description} 
                    />
                ))}
            </div>
        </div>
        <p class="mt-10">
            <a href="/articles" class="text-main-light" data-astro-prefetch>View all articles</a>
        </p>
    </ContentLayout>
</section>
