/* Font Import */
@font-face {
    font-family: "Telegraf";
    src: url("/fonts/PPTelegraf-Regular.woff2") format("woff2"),
        url("/fonts/PPTelegraf-Regular.woff") format("woff"),
        url("/fonts/PPTelegraf-Regular.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Telegraf";
    src: url("/fonts/PPTelegraf-UltraBold.woff2") format("woff2"),
        url("/fonts/PPTelegraf-UltraBold.woff") format("woff"),
        url("/fonts/PPTelegraf-UltraBold.otf") format("opentype");
    font-weight: bold;
    font-display: swap;
}

/** Base CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl sm:text-3xl font-bold;
}

h2 {
    @apply text-xl sm:text-2xl font-bold;
}

h3 {
    @apply text-lg sm:text-xl font-bold;
}

p {
    @apply text-base/7 sm:text-lg/8;
}

span {
    @apply text-base sm:text-xl;
}

a {
    @apply text-base/7 sm:text-lg/8 underline text-light-red hover:text-main-red;
}

ul {
    @apply list-disc block list-outside;
}

ol {
    @apply list-decimal block list-outside;
}

li {
    @apply ml-10 mb-1 text-base/7 sm:text-lg/8;
}

code {
    @apply text-xs sm:text-base/7 font-mono bg-main-darker px-2 py-1 rounded-sm;
}

pre {
    @apply p-5;
}

pre span {
    @apply text-base/7 font-mono;
}