@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Import */
@font-face {
    font-family: "Monocraft";
    src: url("/fonts/Monocraft.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
}

/** Base CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl sm:text-3xl font-bold font-[Monocraft];
}

h2 {
    @apply text-xl sm:text-2xl font-bold font-[Monocraft];
}

h3 {
    @apply text-lg sm:text-xl font-bold font-[Monocraft];
}

p {
    @apply text-base/7 sm:text-lg/8;
}

span {
    @apply text-base sm:text-xl;
}

a {
    @apply text-base/7 sm:text-lg/8 underline text-light-red hover:text-main-red;
}

ul {
    @apply list-disc block list-outside;
}

ol {
    @apply list-decimal block list-outside;
}

li {
    @apply ml-10 mb-1 text-base/7 sm:text-lg/8;
}

code {
    @apply text-xs sm:text-base/7 font-mono bg-main-darker px-2 py-1 rounded-sm;
}

pre {
    @apply p-5;
}

pre code {
    @apply text-xs sm:text-base/7 font-mono bg-transparent px-2 py-1 rounded-sm
}

pre span {
    @apply text-xs sm:text-base/7 font-mono
}
