---
import { ClientRouter } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

const { 
	title = "Game and Web Developer - Moonwr Portfolio", 
	description = "Portfolio website of Addin Munawwar (moonwr.dev), software engineer specialized in video game and web development."
} = Astro.props
---

<!doctype html>
<html lang="en" class="bg-main-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ClientRouter fallback="swap" />
	</head>
	<body class="min-h-1.25s flex flex-col">
		<Header />
		<slot />
		<Footer />
		<script>
			import AOS from 'aos';

			function initAOS() {
				AOS.init({
					duration: 750,
					once: true,
				});
			}

			initAOS();
			
			document.addEventListener('astro:after-swap', () => {
				initAOS();
			});
		</script>
	</body>
</html>


<style is:global>
	/* Font Import */
	@font-face {
		font-family: "Telegraf";
		src: url("/fonts/PPTelegraf-Regular.woff2") format("woff2"),
			url("/fonts/PPTelegraf-Regular.woff") format("woff"),
			url("/fonts/PPTelegraf-Regular.otf") format("opentype");
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Telegraf";
		src: url("/fonts/PPTelegraf-UltraBold.woff2") format("woff2"),
			url("/fonts/PPTelegraf-UltraBold.woff") format("woff"),
			url("/fonts/PPTelegraf-UltraBold.otf") format("opentype");
		font-weight: bold;
		font-display: swap;
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	h1 {
		@apply text-2xl font-bold sm:text-4xl;
	}

	h2 {
		@apply text-xl font-bold sm:text-2xl;
	}

	h3 {
		@apply text-lg font-bold sm:text-xl;
	}

	p {
		@apply text-base sm:text-xl;
	}

	a {
		@apply text-base sm:text-xl underline text-main-light hover:text-main-red;
	}

	li {
		@apply text-base sm:text-xl;
	}
</style>

<style>
	html,
	body {
		font-family: "Telegraf", sans-serif;

		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>
