---
import 'aos/dist/aos.css'

import { ClientRouter } from "astro:transitions"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

const { 
	title = "Addin Munawwar Portfolio | Cadevue - Software Engineer | Game and Web", 
	description = "Addin Munawwar (Cadevue), a creative, passionate learner and software engineer specialized in video game and web development!",
} = Astro.props
---

<!doctype html>
<html lang="en" class="bg-main-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon-48x48.png" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		<ClientRouter fallback="swap" />
	</head>
	<body class="min-h-1.25s flex flex-col">
		<Header />
		<slot />
		<Footer />
		<script>
			import AOS from 'aos'

			function initAOS() {
				AOS.init({ duration: 750, once: true, });
			}
			initAOS();
			
			document.addEventListener('astro:after-swap', () => {
				initAOS();
			});

		</script>
	</body>
</html>


<style is:global>
	/* Font Import */
	@font-face {
		font-family: "Telegraf";
		src: url("/fonts/PPTelegraf-Regular.woff2") format("woff2"),
			url("/fonts/PPTelegraf-Regular.woff") format("woff"),
			url("/fonts/PPTelegraf-Regular.otf") format("opentype");
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Telegraf";
		src: url("/fonts/PPTelegraf-UltraBold.woff2") format("woff2"),
			url("/fonts/PPTelegraf-UltraBold.woff") format("woff"),
			url("/fonts/PPTelegraf-UltraBold.otf") format("opentype");
		font-weight: bold;
		font-display: swap;
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	h1 {
		@apply text-2xl sm:text-3xl 3xl:text-4xl font-bold;
	}

	h2 {
		@apply text-xl sm:text-2xl 3xl:text-3xl font-bold;
	}

	h3 {
		@apply text-lg sm:text-xl 3xl:text-2xl font-bold;
	}

	p {
		@apply text-sm/6 sm:text-lg/8 3xl:text-xl/10;
	}

	span {
		@apply text-base sm:text-xl 3xl:text-2xl;
	}

	a {
		@apply text-sm/6 sm:text-lg/8 3xl:text-xl/10 underline text-main-light hover:text-main-red;
	}

	ul {
		@apply list-disc block list-inside;
	}

	ol {
		@apply list-decimal block list-inside;
	}

	li {
		@apply ml-6 mb-1 text-sm/6 sm:text-lg/8 3xl:text-xl/10;
	}

	code {
		@apply text-xs sm:text-sm/6 font-mono bg-main-darker px-2 py-1 rounded-sm;
	}

	pre {
		@apply p-5;
	}

	pre span {
		@apply text-sm/6 font-mono;
	}
</style>

<style>
	html,
	body {
		font-family: "Telegraf", sans-serif;

		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>
